{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="post" action="{{ url_for('main.login') }}">
        <div class="row"><label>Username:</label> <input type="text" name="username" required></div>
        <div class="row"><label>Password:</label> <input type="password" name="password"></input></div>
        <div class="row"><button type="submit">Login</button></div>
    </form>
    <div class="row">
	    <div class="col-md-12">
	        <button id="plex-button" type="submit" class="btn btn-light">
                <span>Login With</span>
    		    <img id="plex-oauth" src="{{ url_for('static', filename='images/plex-logo.png') }}" />
            </button>
	    </div>
    </div>
</div> <!-- container -->
{% endblock %}
