<div class="card" id="{{ media.guid }}">
    <img class="card-img-top" src="{{ media.image }}" alt=" {{ media.title }}">
    <div class="card-body">
      <h5 class="card-title"> {{ media.title }} &nbsp; ({{ media.year }})</h5>
      <p class="card-text"> {{ media.overview }} </p>
    </div>
    <div class="card-subtitle">
        <span class="text-muted small">  {{ media.rating['value'] }} with {{ media.rating['votes'] }} votes </span>
    </div>
    <div class="card-footer">
        <div class="card-deck">
            <div class="card">
                <a href="{{ media.downloadURL }}" type="button" class="btn btn-primary float-sm-left">Download</a>
            </div>
            <div class="card">
                <div class="progress">
                    
                </div>
            </div>
            <div class="card">
                <button type="button" data-item='{{media | tojson | safe }}'
                                      onclick="plexsync.onTransferClick(this)"
                                      class="transfer btn btn-secondary float-sm-right">Transfer
                </button>
            </div>
    </div>
    </div>
</div>

