{% for m in media %}


<div class="card" id="{{ m.guid }}">
    <img class="card-img-top" src="{{ m.image }}" alt=" {{ m.title }}">
    <div class="card-body">
      <h5 class="card-title"> {{ m.title }} &nbsp; ({{ m.year }})</h5>
      <p class="card-text"> {{ m.overview }} </p>
    </div>
    <div class="card-subtitle">
        <small class="text-muted">  {{ m.rating['value'] }} with {{ m.rating['votes'] }} votes </small>
    </div>
    <div class="card-footer">
			    <a href="{{ m.downloadURL }}" type="button" class="btn btn-primary float-sm-left">Download</a>
			    <button onclick="plexsync.transfer({{ m }})" type="button" class="btn btn-secondary float-sm-right">Transfer</button>
    </div>
 </div>
{% endfor %}
