{% for m in media %}
       <div class="list-group-item  col-xs-4 col-lg-4">                                                                
            <div class="thumbnail">                                                                          
                <img class="group list-group-image" src="{{ m.image }}" alt="{{ m.title }}"         
/>                                                                                                           
                <div class="caption">                                                                        
                    <h4 class="group inner list-group-item-heading">                                         
                        {{ m.title }} </h4>                                                                   
                    <p class="group inner list-group-item-text"> {{ m.overview }} </p>
                    <div class="row">                                                                        
                        <div class="col-xs-12 col-md-3">                                                     
                            <p class="lead"> ( {{ m.year }} ) </p>                                                                  
                        </div>                                                                               
                        <div class="col-xs-12 col-md-3">                                                     
                            <p class="lead">  {{ m.rating['value'] }} with {{ m.rating['votes'] }} votes </p>                                                                  
                        </div>                                                                               
                        <div class="col-xs-12 col-md-6">                                                     
                            <a class="btn btn-success" href="#">Search</a>                                                                                                     
                        </div>                                                                               
                    </div>                                                                                   
                </div>                                                                                       
            </div>                                                                                           
        </div>                                      
{% endfor %}
